/* = =======================
CASE 2015 special
=========================== */
.bannertext {
	text-align:center;
	margin-top: 50px;
}

.caselogo {
	text-align:center;
	color: #222;
	text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
	letter-spacing: -1px;
    margin-top: 30px;
    padding: 0 0 0 15px;
    line-height: 0.8em;
}

.caseheader {
	background-color: white;
}

.caseheader .row {
	margin-bottom: 0px;
}

.caselogo > a.hover{
	color: #222;
}

.caselogo span{
	color: #68A4C4;
}